.header__logo {
  width: 120.5px;
  height: 56px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .header__logo {
    width: 86px;
    height: 56px;
  }
}

@media screen and (max-width: 374px) {
  .header__logo {
    width: 56px;
    height: 26px;
  }
}
