.button {
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
  background: #70908B;
  box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: color .7s ease-out, background-color .7s ease-out;
}

.button:hover {
  color: #195557;
  background: linear-gradient(90.68deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
}

.button .button_disabled {
  background: #154749;
}

.button .button_disabled:hover {
  background: #154749;
}
