.about__caption {
  font-family: 'Raleway', Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #195557;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .about__caption {
    font-size: 10px;
    line-height: 159.9%;
    text-align: left;
  }
}
