.footer__rights {
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 131.4%;
  color: #FFF;
  margin: 0 0 2px;
}

@media screen and (max-width: 767px) {
  .footer__rights {
    font-size: 11px;
    margin: 0;
  }
}
