.intro {
  background-color: #EAEEEF;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  min-height: 992px;
  position: relative;
  overflow: hidden;
  /* background: radial-gradient(50% 50% at 50% 50%,rgba(180,197,194,.83) 0,rgba(224,225,225,0) 100%) top left 1050px no-repeat, #e3e3e3; */
}

@media screen and (max-width: 767px) {
  .intro {
    min-height: 520px;
/*     margin-bottom: 140px; */
  }
}

@media screen and (max-width: 374px) {
  .intro {
    min-height: 406px;
/*     margin-bottom: 140px; */
  }
}

/* .intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1048px;
  height: 1048px;
  margin-left: -533px;
  margin-top: -479px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(180, 197, 194, 0.83) 0%, rgba(224, 225, 225, 0) 100%);
}
 */
/* .intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1582px;
  height: 1582px;
  margin-left: 1028px;
  margin-top: -78px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 238, 206, 0.49) 0%, rgba(196, 196, 196, 0) 100%);
} */
